:root {
    --me: linear-gradient(91deg, #290A1B 1.21%, rgba(7, 7, 7, 0.96) 50.4%, rgba(7, 7, 7, 0.72) 99.59%);
    --do: linear-gradient(91deg, #0B1525 1.21%, rgba(7, 7, 7, 0.96) 50.4%, rgba(7, 7, 7, 0.72) 99.59%);
    --ooc: linear-gradient(91deg, #241B0A 1.21%, rgba(7, 7, 7, 0.96) 50.4%, rgba(7, 7, 7, 0.72) 99.59%);
    --admin: linear-gradient(91deg, #220909 1.21%, rgba(7, 7, 7, 0.96) 50.4%, rgba(7, 7, 7, 0.72) 99.59%);
    --char-info: linear-gradient(91deg, #150923 1.21%, rgba(7, 7, 7, 0.96) 50.4%, rgba(7, 7, 7, 0.72) 99.59%);
    --ems: linear-gradient(91deg, #240B0A 1.21%, rgba(7, 7, 7, 0.96) 50.4%, rgba(7, 7, 7, 0.72) 99.59%);
    --police: linear-gradient(91deg, #0B0F28 1.21%, rgba(7, 7, 7, 0.96) 50.4%, rgba(7, 7, 7, 0.72) 99.59%);
    --error: linear-gradient(91deg, #111212 1.21%, rgba(7, 7, 7, 0.96) 50.4%, rgba(7, 7, 7, 0.72) 99.59%);
    --whisper: linear-gradient(91deg, #091922 1.21%, rgba(7, 7, 7, 0.96) 50.4%, rgba(7, 7, 7, 0.72) 99.59%);
    --yellow-page: linear-gradient(91deg, #24230A 1.21%, rgba(7, 7, 7, 0.96) 50.4%, rgba(7, 7, 7, 0.72) 99.59%);
    --gang: linear-gradient(91deg, #092312 1.21%, rgba(7, 7, 7, 0.96) 50.4%, rgba(7, 7, 7, 0.72) 99.59%);
    --announcement: linear-gradient(91deg, #241B0A 1.21%, rgba(7, 7, 7, 0.96) 50.4%, rgba(7, 7, 7, 0.72) 99.59%);

    --me-color: #EC3096;
    --do-color: #34B4EB;
    --ooc-color: #ECAC30;
    --admin-color: #DE4949;
    --char-info-color: #6D11D6;
    --ems-color: #F2665C;
    --police-color: #0528ED;
    --error-color: #060807;
    --whisper-color: #1DA1F2;
    --yellow-page-color: #BAB525;
    --gang-color: #148F3B;
    --announcement-color: #ECAC30;

    --font: 'Satoshi', sans-serif;
}

.chat-cont {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.chat-inner {
    position: relative;
    top: 0;
    left: 0;
    width: 20vw;
    height: 28vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.message-cont::-webkit-scrollbar {
    width: 0.5vw;
}

.message-cont::-webkit-scrollbar-track {
    background: transparent;
}

.message-cont {
    width: 100%;
    height: 80%;
    position: relative;
    padding-top: 0.5vw;
    padding-left: 0.5vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

.message {
    width: 100%;
    height: max-content;
    border-radius: 0.40306rem;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    padding-left: 1vw;
    overflow: hidden;
    position: relative;
    display: flex;
    gap: 1vw;
    align-items: center;
    margin-bottom: 0.5vw;
    word-break: break-all;
}

.message-border {
    position: absolute;
    left: 0;
    width: 3px;
    height: 60%;
    border-radius: 0.10075rem;
}

.message-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5vw;
}

.message-type {
    width: max-content;
    padding: 0.2vw 0.5vw;
    font-family: var(--font);
    border-radius: 0.12206rem;
    font-size: 0.7vw;
    color: white;
}

.message-player {
    font-family: var(--font);
    font-size: 0.8vw;
    color: white;
    background: rgba(227, 227, 227, 0.10);
    width: max-content;
    padding: 0.2vw 0.5vw;
    border-radius: 0.12206rem;
}

.message-info p {
    color: #878787;
    font-family: var(--font);
    font-size: 0.8vw;
}

.message-clock {
    position: absolute;
    top: 0;
    right: 0;
    font-family: var(--font);
    font-size: 0.7vw;
    color: #878787;
    padding: 1vw;
}

.message.me .message-type {
    background: var(--me-color);
}

.message.me .message-border {
    background: var(--me-color);
}

.message.me {
    background: var(--me);
}

.message.do .message-type {
    background: var(--do-color);
}

.message.do .message-border {
    background: var(--do-color);
}

.message.do {
    background: var(--do);
}

.message.ooc .message-type {
    background: var(--ooc-color);
}

.message.ooc .message-border {
    background: var(--ooc-color);
}

.message.ooc {
    background: var(--ooc);
}

.message.admin .message-type {
    background: var(--admin-color);
}

.message.admin .message-border {
    background: var(--admin-color);
}

.message.admin {
    background: var(--admin);
}

.message.charinfo .message-type {
    background: var(--char-info-color);
}

.message.charinfo .message-border {
    background: var(--char-info-color);
}

.message.charinfo {
    background: var(--char-info);
}

.message.ems .message-type {
    background: var(--ems-color);
}

.message.ems .message-border {
    background: var(--ems-color);
}

.message.ems {
    background: var(--ems);
}

.message.police .message-type {
    background: var(--police-color);
}

.message.police .message-border {
    background: var(--police-color);
}

.message.police {
    background: var(--police);
}

.message.error .message-type {
    background: var(--error-color);
}

.message.error .message-border {
    background: var(--error-color);
}

.message.error {
    background: var(--error);
}

.message.whisper .message-type {
    background: var(--whisper-color);
}

.message.whisper .message-border {
    background: var(--whisper-color);
}

.message.whisper {
    background: var(--whisper);
}

.message.yellowpages .message-type {
    background: var(--yellow-page-color);
}

.message.yellowpages .message-border {
    background: var(--yellow-page-color);
}

.message.yellowpages {
    background: var(--yellow-page);
}

.message.gang .message-type {
    background: var(--gang-color);
}

.message.gang .message-border {
    background: var(--gang-color);
}

.message.gang {
    background: var(--gang);
}

.message.announcement .message-type {
    background: var(--announcement-color);
}

.message.announcement .message-border {
    background: var(--announcement-color);
}

.message.announcement {
    background: var(--announcement);
}

.new-message {
    display: flex;
    width: 100%;
    gap: 0.5vw;
    padding-left: 0.5vw;
    height: 10%;
}

.input {
    width: 50%;
    height: 100%;
}

.input input {
    width: 100%;
    height: 2.5vw;
    border-radius: 0.39056rem;
    background: linear-gradient(180deg, #070707 0%, rgba(7, 7, 7, 0.72) 100%);
    border: none;
    outline: none;
    padding: 0.5vw;
    font-family: var(--font);
    font-size: 0.8vw;
    color: rgba(255, 255, 255, 0.59);
}

.message-button {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5vw;
}

.message-button div {
    width: 2.3vw;
    height: 2.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    overflow: hidden;
    border-radius: 0.49056rem;
}

.message-button div svg {
    width: 100%;
    height: 100%;
}

emoji-picker {
    position: absolute;
    width: 15vw;
    height: 20vw;
    top: 10%;
    left: 20%;
    z-index: 3;
    font-family: var(--font);
    font-size: 1vw;
    color: black;
    --emoji-size: 1vw;
    --num-columns: 5;
}

.chat-setting {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 1vw;
    pointer-events: none;
}

.chat-setting-inner {
    width: 25vw;
    height: 80vh;
    pointer-events: all;
    border-radius: 0.63694rem;
    background: linear-gradient(180deg, #070707 0%, rgba(8, 23, 24, 1.00) 17%, rgba(7, 7, 7, 0.96) 100%);
}

.setting-header {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting-header h1 {
    font-family: var(--font);
    font-size: 2.5vw;
    font-weight: 700;
    background: linear-gradient(98deg, #1FE0EC 2.03%, rgba(31, 224, 236, 0.00) 103.6%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    -webkit-text-stroke-width: 0.6000000238418579px;
    -webkit-text-stroke-color: #1FE0EC;
}

.settings-cont{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 1vw;
}

.settings-item{
    width: 100%;
    height: 5vw;
    background: rgba(0, 0, 0, 0.16);
    border: rgba(255, 255, 255, 0.08) 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.settings-icon svg{
    width: 2.5vw;
    height: 2.5vw;
}

.settings-text h2{
    font-family: var(--font);
    color: #C8C8C8;
    font-size: 1vw;
}

.settings-text p{
    font-family: var(--font);
    color: rgba(255, 255, 255, 0.71);
    font-size: 0.7vw;
    width: 8vw;
}

.settings-button{
    display: flex;
    gap: 0.5vw;
}

.settings-button div{
    width: 4vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font);
    font-size: 0.8vw;
    color: #565656;
    border-radius: 1.90631rem;
    border: 1.564px solid #2E2E2E;
    background: linear-gradient(97deg, rgba(217, 217, 217, 0.06) 14.64%, rgba(217, 217, 217, 0.00) 92.63%);
    box-shadow: 0px 0px 9.385px 0px #5A5A5A;
    transition: all 0.3s ease;
    cursor: pointer;
}

.settings-button div.active{
    border-radius: 1.90631rem;
    border: 1.564px solid #2E2E2E;
    background: linear-gradient(97deg, rgba(217, 217, 217, 0.06) 14.64%, rgba(217, 217, 217, 0.00) 92.63%);
    box-shadow: 0px 0px 9.385px 0px #168D94;
    color: #1DD4E0;
}

.color-button{
    width: 8vw !important;
    border-radius: 1.90631rem;
    border: 1.564px solid #2E2E2E !important;
    background: linear-gradient(97deg, rgba(217, 217, 217, 0.06) 14.64%, rgba(217, 217, 217, 0.00) 92.63%) !important;
    box-shadow: 0px 0px 9.385px 0px #168D94 !important;
    color: #1DD4E0 !important;
}

.default-button{
    width: 100%;
    height: 5vw;
    background: rgba(0, 0, 0, 0.16);
    border: rgba(255, 255, 255, 0.08) 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    color: #C8C8C8;
    font-family: var(--font);
    font-size: 1vw;
    transition: all 0.3s ease;
    font-weight: 400;
}

.default-button svg{
    position: absolute;
    width: 100%;
    height: 100%;
}

.match-command{
    width: 100%;
    height: 10%;
    padding-left: 1vw;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
}

.match-item{
    border-radius: 0.18656rem;
    border: 0.365px solid rgba(255, 255, 255, 0.22);
    background: rgba(9, 9, 9, 0.31);
    padding: 0.5vw;
    display: flex;
    align-items: center;
    width: max-content;
    height: 1.5vw;
    color: #fff;
    font-family: var(--font);
    font-size: 0.8vw;
    cursor: pointer;
    transition: all 0.3s ease;
}


/* .match-command{
    width: 100%;
    height: 10%;
    padding-left: 1vw;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
}

.match-item{
    border-radius: 0.475rem;
    background: linear-gradient(180deg, #070707 0%, rgba(7, 7, 7, 0.72) 100%);
    padding: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 4.5vw;
    color: rgba(255, 255, 255, 0.59);
    font-family: var(--font);
    font-size: 0.8vw;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
}

.match-item-inner{
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
    border: 0.6px solid rgba(61, 63, 63, 0.42);
    background: rgba(217, 217, 217, 0.00);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 0.3vw;
    gap: 0.4vw;
}

.match-item-border{
    position: absolute;
    left: 0;
    top: 0;
    width: 0.2vw;
    height: 100%;
    background-color: #D4D4D4;
}

.match-top{
    width: 100%;
}

.match-top p{
    width: 100%;
    display: flex;
    gap: 0.8vw;
}

.match-top p span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    border-radius: 0.08444rem;
    background: #D9D9D9;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 0.8vw;
    color: #161717;
} */

.in-game-me-do{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: absolute;
    pointer-events: none;
}

.in-game-me-do div{
    width: 15vw;
    height: max-content;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
    position: absolute;
    border-radius: 0.40306rem;
    z-index: 10;
    pointer-events: none;
    overflow: hidden;
    word-break: break-all;
}

.in-game-me-do div p{
    font-family: var(--font);
    font-size: 0.8vw;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.85);
    padding-left: 1vw;
    padding-right: 2vw;
    position: relative;
    z-index: 999;
}

.in-game-me{
    top: 20%;
    left: 20%;
    background: linear-gradient(90deg, rgba(33, 9, 22, 0.96) 3.02%, rgba(7, 7, 7, 0.72) 100.69%);
}

.in-game-me .message-border{
    background: var(--me-color);
    padding: 0;
    width: 3px;
    height: 40%;
    border-radius: 0.10075rem;
}

.in-game-do .message-border{
    background: var(--do-color);
    padding: 0;
    width: 3px;
    height: 40%;
    border-radius: 0.10075rem;
}

.in-game-do{
    background: linear-gradient(90deg, rgba(8, 16, 29, 0.96) 3.02%, rgba(7, 7, 7, 0.72) 100.69%);
}

.background-svg{
    width: 100%;
    height: 100%;
    position: absolute;
}

.background-svg svg{
    width: 100%;
    height: 100%;
}


.in-game-dice{
    width: 6vw !important;
    height: 6vw !important;
    justify-content: center !important;
}

.in-game-dice img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.in-game-dice h2{
    position: absolute;
    bottom: 3%;
    font-size: 2vw;
    font-family: var(--font);
    font-weight: 900;
    z-index: 2;
    color: #FFF;
    -webkit-text-stroke-width: 2.657142877578735px;
    -webkit-text-stroke-color: #000;
}

.in-game-rock-paper-scissors{
    width: 6vw !important;
    height: 6vw !important;
    justify-content: center !important;
}

.in-game-rock-paper-scissors img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.playGame {
    position: relative;
}

.dice-button{
    position: absolute;
    top: 89%;
    left: 70%;
}

.game-button{
    position: absolute;
    top: 89%;
    left: 83%;
}