/*----------------------------*/
/*---- BOII | DEVELOPMENT ----*/
/*----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.anagram_loading {
    position: relative;
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.anagram_loading_text {
    position: absolute;
}

.anagram_loading_icons {
    position: absolute;
    top: 15%;
    height: 100%;
    width: 100%;
    text-align: center;
}

.anagram_loading_icon_1,
.anagram_loading_icon_2,
.anagram_loading_icon_3 {
    margin: 8%;
}

.anagram_loading_icon_1,
.anagram_loading_icon_2 {
    position: relative;
    display: inline-block;
}

.anagram_loading_icon_1::after,
.anagram_loading_icon_2::after {
    content: '';
    position: absolute;
    top: 65%;
    right: -7.4vw;
    width: 6vw;
    height: 0.3vh;
    background-color: rgba(61, 241, 7, 0.5);
    transform: translateY(-50%);
}

.line_complete::after {
    background-color: rgba(223, 13, 223, 0.8);
}

.anagram_result_screen {
    text-transform: uppercase;
}

.anagram_window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #28cf19;
    font-family: 'Share Tech Mono', monospace;
}

.anagram_window_toolbar {
    position: absolute;
    top: 1%; /* Moved down a bit more */
    left: 0.5%;
    height: 3%; /* Further reduced height */
    width: 99%;
    border-radius: 25px 25px 0 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid rgba(66, 167, 20, 0.5);
    color: rgba(64, 238, 11, 0.75);
    font-family: 'Share Tech Mono', monospace;
}

.anagram_window_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5%;
    width: 100%;
    border-radius: 0 0 25px 25px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid rgba(66, 167, 20, 0.5);
    color: rgba(16, 163, 48, 0.75);
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5rem;
}

.anagram_guesses_left {
    margin-left: 1%;
    font-family: 'Share Tech Mono', monospace;
}

.anagram_game_timer {
    margin-right: 1%;
}

.anagram_footer_left {
    width: 70%;
}

.anagram_footer_right {
    width: 30%;
    text-align: right;
    margin-right: 20px;
}

.anagram_guess_input {
    height: 100%;
    width: 46%;
    padding-left: 20px;
    border-radius: 0 0 0 25px;
    font-size: 1.2rem;
    color: #0edd0e;
    font-family: 'Share Tech Mono', monospace;
    border: 2px solid #00FF00; /* Green border for input fields and buttons */
    background-color: black; /* Black background for input and button */
}

.anagram_submit_button {
    height: 100%;
    width: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: rgb(55, 240, 8);
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-left: -10px;
    font-family: 'Share Tech Mono', monospace;
}

.anagram_submit_button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.anagram_password {
    width: 100%;
    font-family: 'Share Tech Mono', monospace;
}

.anagram_previous_guesses {
    position: absolute;
    top: 4.5vh;
    left: 0.6vw;
    overflow-y: auto;
    width: 98%;
    height: 88%;
    font-size: 1.5rem;
    font-family: 'Share Tech Mono', monospace;
}

.anagram_previous_guesses div {
    margin-bottom: 5px;
}